In [2]:
import glob
import pandas as pd
import datetime
import io

In [3]:
def hainich_bf2pd(file):

    colnames = ['date', 'time', 'node', 'bat', 'V5', 'V6', 'V7', 'V8', 'EPS1', 'SM1', 'ST1', 'V12', 'V13', 'EPS2',
                'SM2', 'ST2', 'V17', 'V18', 'EPS3', 'SM3', 'ST3', 'V22', 'V23', 'EPS4', 'SM4', 'ST4', 'V27', 'V28',
                'EPS5', 'SM5', 'ST5', 'V32', 'V33', 'EPS6', 'SM6', 'ST6', 'V37', 'WPOT7', 'MPS_2_1_T7', 'V40', 'V41',
                'V42', 'WPOT8', 'MPS_2_2_T8', 'V45', 'V46', 'V47', 'WPOT9', 'MPS_2_3_T9', 'V50', 'V51']

    # read content of txt-file into panda data frame and assign column names
    # open file for reading
    f = open(file, "r")

    # read file content into the string "temp"
    temp = f.read()

    # search and replace "+" in the string "temp"
    temp = temp.replace("+", "")

    # search and replace double tabs "\t\t" in the string "temp"
    temp = temp.replace("\t\t", "")

    # import the string into a panda data frame
    df = pd.read_csv(io.StringIO(temp), sep='\t', dtype=str, header=None, names=colnames, index_col=False)

    # concatenate content of columns "date" and "time" into new column "date_time" to a list, convert to datetime format and
    # append it as 52nd column named "d_t" to data frame

    dt = (df['date'].map(str) + ' ' + df['time'].map(str)).tolist()
    d_t = [datetime.datetime.strptime((date), '%d.%m.%Y %H:%M:%S') for date in dt]
    df['d_t'] = d_t
   
    # set data format for columns containing soil moisture (SM) to float
    df.SM1 = df.SM1.astype(float)
    df.SM2 = df.SM2.astype(float)
    df.SM3 = df.SM3.astype(float)
    df.SM4 = df.SM4.astype(float)
    df.SM5 = df.SM5.astype(float)
    df.SM6 = df.SM6.astype(float)
    
    # set data format for columns containing soil temperature (ST) to float
    df.ST1 = df.ST1.astype(float)
    df.ST2 = df.ST2.astype(float)
    df.ST3 = df.ST3.astype(float)
    df.ST4 = df.ST4.astype(float)
    df.ST5 = df.ST5.astype(float)
    df.ST6 = df.ST6.astype(float)

    # return imported data frame
    return (df)

In [118]:
# data search path
inDir = 'E:/UNI/GEO411_Bodenfeuchte/BodenfeuchteSonden/restruct_data/RO_SE_001/2015/'

# find txt-files in data search path
files = sorted(glob.glob(inDir + '*.txt', recursive=False))

# to read content of a single text file (e.g. first file in list "files") into pandas data frame "df" do this:
###########################################################################################################
df = hainich_bf2pd(files[0])
# to read content of all text files in a folder into pandas data frame "df_all" do this:
#####################################################################################
i=0
for file in files:
    i+=1
    df=hainich_bf2pd(file)
    if (i == 1):
        all_df = df
    else:
        all_df=pd.concat([all_df, df])
all_df

,date,time,node,bat,V5,V6,V7,V8,EPS1,SM1,...,WPOT8,MPS_2_2_T8,V45,V46,V47,WPOT9,MPS_2_3_T9,V50,V51,d_t
0,27.03.2015,08:33:46,RO_SE_001,3527,2626,0,0,14267,6.70,11.93,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-03-27 08:33:46
1,27.03.2015,08:36:00,RO_SE_001,3559,2627,114,0,14268,6.70,11.93,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-03-27 08:36:00
2,27.03.2015,08:39:00,RO_SE_001,3560,2628,114,0,14263,6.71,11.95,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-03-27 08:39:00
3,27.03.2015,08:42:00,RO_SE_001,3559,2629,114,0,14263,6.71,11.95,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-03-27 08:42:00
4,27.03.2015,08:45:00,RO_SE_001,3558,2630,114,0,14262,6.71,11.96,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-03-27 08:45:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,31.12.2015,18:24:00,RO_SE_001,3565,58989,168,0,13595,8.27,15.33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-31 18:24:00
184,31.12.2015,18:30:00,RO_SE_001,3565,58990,168,0,13595,8.27,15.33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-31 18:30:00
185,31.12.2015,18:36:00,RO_SE_001,3565,58991,168,0,13595,8.27,15.33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-31 18:36:00
186,31.12.2015,18:42:00,RO_SE_001,3564,58992,168,0,13594,8.27,15.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-31 18:42:00
187,31.12.2015,18:48:00,RO_SE_001,3565,58993,165,0,13594,8.27,15.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-31 18:48:00

In [48]:
new_df=all_df[["d_t","node","SM1","SM2","SM3","SM4","SM5","SM6","ST1","ST2","ST3","ST4","ST5","ST6"]]
new_df

,d_t,node,SM1,SM2,SM3,SM4,SM5,SM6,ST1,ST2,ST3,ST4,ST5,ST6
0,2015-03-27 08:33:46,RO_SE_001,11.93,37.19,33.57,31.69,31.19,39.53,4.22,4.44,4.49,4.82,4.76,4.91
1,2015-03-27 08:36:00,RO_SE_001,11.93,37.19,33.58,31.69,31.18,39.53,4.23,4.45,4.52,4.80,4.73,4.86
2,2015-03-27 08:39:00,RO_SE_001,11.95,37.19,33.58,31.70,31.18,39.53,4.26,4.45,4.51,4.82,4.73,4.91
3,2015-03-27 08:42:00,RO_SE_001,11.95,37.19,33.58,31.72,31.18,39.53,4.25,4.42,4.50,4.80,4.74,4.90
4,2015-03-27 08:45:00,RO_SE_001,11.96,37.19,33.58,31.73,31.18,39.53,4.24,4.41,4.52,4.84,4.73,4.91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,2015-12-31 18:24:00,RO_SE_001,15.33,40.47,34.46,38.79,35.53,45.46,3.81,5.68,4.10,5.86,4.39,5.74
184,2015-12-31 18:30:00,RO_SE_001,15.33,40.47,34.47,38.79,35.55,45.45,3.80,5.69,4.09,5.86,4.36,5.75
185,2015-12-31 18:36:00,RO_SE_001,15.33,40.49,34.49,38.79,35.55,45.46,3.80,5.70,4.09,5.87,4.40,5.69
186,2015-12-31 18:42:00,RO_SE_001,15.34,40.49,34.49,38.79,35.57,45.46,3.79,5.65,4.10,5.88,4.36,5.70
187,2015-12-31 18:48:00,RO_SE_001,15.34,40.49,34.50,38.79,35.57,45.46,3.82,5.68,4.08,5.89,4.37,5.71

In [151]:
file='E:/UNI/GEO411_Bodenfeuchte/S1Rueckstreuung/20mPixel/Rueckstreuwerte/point_per_pixel_VH_Asc.csv'
f = open(file, "r")
temp=f.read()
# search and replace "+" in the string "temp"
temp = temp.replace("# ", "")
# search and replace double tabs "\t\t" in the string "temp"
temp = temp.replace("\t\t", "")

# import the string into a panda data frame
vh_asc = pd.read_csv(io.StringIO(temp), sep=',', dtype=str)
vh_asc

,date,VH0,VH1,VH2,VH3,VH4,VH5,VH6,VH7,VH8,...,VH27,VH28,VH29,VH30,VH31,VH32,VH33,VH34,VH35,VH36
0,20160705,-20.006062,-18.468039,-15.946264,-14.706590,-14.366436,-10.451237,-12.268032,-14.320933,-13.208610,...,-10.946579,-11.522882,-14.414714,-12.090923,-11.727070,-15.236613,-11.382021,-10.650030,-11.437065,-13.292306
1,20160717,-16.751760,-14.300529,-17.804306,-14.414322,-9.786048,-14.400191,-11.741003,-14.212811,-13.654776,...,-12.466799,-13.491371,-13.357076,-13.748463,-11.962477,-12.817870,-12.825536,-13.809085,-15.341205,-15.516474
2,20160722,-15.993035,-16.080070,-16.009144,-12.623924,-13.010894,-10.991822,-9.724481,-15.296282,-12.089066,...,-11.446562,-14.579777,-12.144663,-16.188463,-12.415474,-12.102180,-13.524474,-12.837204,-13.411922,-13.733362
3,20160729,-18.383873,-16.773670,-17.265499,-12.792256,-12.514038,-12.432375,-13.725729,-12.621448,-13.545379,...,-12.443525,-13.493507,-13.710629,-11.808859,-10.516542,-12.586761,-12.483298,-11.730107,-13.308769,-15.032835
4,20160810,-18.751987,-21.647285,-16.788359,-12.995346,-14.892763,-11.486307,-14.639555,-14.270633,-12.637464,...,-10.234871,-12.690186,-13.164584,-15.402111,-13.752187,-14.493647,-10.033049,-11.308242,-13.390194,-14.895484
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
492,20201205,-17.094845,-16.769093,-17.117741,-10.792821,-12.776034,-10.069828,-13.120674,-14.243466,-10.813862,...,-13.138630,-15.083680,-13.483615,-13.153921,-14.856350,-13.023268,-12.431730,-12.632181,-14.359244,-12.815331
493,20201210,-18.315592,-19.824078,-19.649984,-10.068854,-8.955349,-11.267477,-11.959566,-14.028267,-11.599552,...,-12.498552,-12.584490,-11.044062,-12.697293,-14.484869,-10.896360,-12.635283,-10.475476,-13.883206,-11.694165
494,20201211,-16.909647,-15.599306,-19.168074,-12.613395,-12.900250,-9.511220,-11.708469,-11.465649,-10.138521,...,-10.609794,-13.196746,-12.998701,-10.666898,-12.835512,-14.588719,-9.412750,-10.731318,-10.737404,-12.083924
495,20201216,-19.443827,-20.162508,-18.057775,-14.763365,-10.671267,-8.976619,-14.440418,-11.144656,-15.052121,...,-11.374056,-14.083221,-12.189644,-13.331484,-12.973129,-12.664206,-16.125072,-10.826993,-13.724975,-11.626476
496,20201217,-16.488886,-15.537087,-16.273764,-10.762220,-9.256254,-10.696690,-12.412127,-13.483848,-9.634330,...,-10.639321,-13.706388,-10.285907,-14.159331,-11.278698,-12.095727,-10.313524,-11.553992,-13.756762,-11.798478

In [175]:
vh_asc['date'] = pd.to_datetime(vh_asc['date'], format='%Y%m%d')
vh_asc

,date,VH0,VH1,VH2,VH3,VH4,VH5,VH6,VH7,VH8,...,VH27,VH28,VH29,VH30,VH31,VH32,VH33,VH34,VH35,VH36
0,2016-07-05,-20.006062,-18.468039,-15.946264,-14.706590,-14.366436,-10.451237,-12.268032,-14.320933,-13.208610,...,-10.946579,-11.522882,-14.414714,-12.090923,-11.727070,-15.236613,-11.382021,-10.650030,-11.437065,-13.292306
1,2016-07-17,-16.751760,-14.300529,-17.804306,-14.414322,-9.786048,-14.400191,-11.741003,-14.212811,-13.654776,...,-12.466799,-13.491371,-13.357076,-13.748463,-11.962477,-12.817870,-12.825536,-13.809085,-15.341205,-15.516474
2,2016-07-22,-15.993035,-16.080070,-16.009144,-12.623924,-13.010894,-10.991822,-9.724481,-15.296282,-12.089066,...,-11.446562,-14.579777,-12.144663,-16.188463,-12.415474,-12.102180,-13.524474,-12.837204,-13.411922,-13.733362
3,2016-07-29,-18.383873,-16.773670,-17.265499,-12.792256,-12.514038,-12.432375,-13.725729,-12.621448,-13.545379,...,-12.443525,-13.493507,-13.710629,-11.808859,-10.516542,-12.586761,-12.483298,-11.730107,-13.308769,-15.032835
4,2016-08-10,-18.751987,-21.647285,-16.788359,-12.995346,-14.892763,-11.486307,-14.639555,-14.270633,-12.637464,...,-10.234871,-12.690186,-13.164584,-15.402111,-13.752187,-14.493647,-10.033049,-11.308242,-13.390194,-14.895484
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
492,2020-12-05,-17.094845,-16.769093,-17.117741,-10.792821,-12.776034,-10.069828,-13.120674,-14.243466,-10.813862,...,-13.138630,-15.083680,-13.483615,-13.153921,-14.856350,-13.023268,-12.431730,-12.632181,-14.359244,-12.815331
493,2020-12-10,-18.315592,-19.824078,-19.649984,-10.068854,-8.955349,-11.267477,-11.959566,-14.028267,-11.599552,...,-12.498552,-12.584490,-11.044062,-12.697293,-14.484869,-10.896360,-12.635283,-10.475476,-13.883206,-11.694165
494,2020-12-11,-16.909647,-15.599306,-19.168074,-12.613395,-12.900250,-9.511220,-11.708469,-11.465649,-10.138521,...,-10.609794,-13.196746,-12.998701,-10.666898,-12.835512,-14.588719,-9.412750,-10.731318,-10.737404,-12.083924
495,2020-12-16,-19.443827,-20.162508,-18.057775,-14.763365,-10.671267,-8.976619,-14.440418,-11.144656,-15.052121,...,-11.374056,-14.083221,-12.189644,-13.331484,-12.973129,-12.664206,-16.125072,-10.826993,-13.724975,-11.626476
496,2020-12-17,-16.488886,-15.537087,-16.273764,-10.762220,-9.256254,-10.696690,-12.412127,-13.483848,-9.634330,...,-10.639321,-13.706388,-10.285907,-14.159331,-11.278698,-12.095727,-10.313524,-11.553992,-13.756762,-11.798478